<div class="affiliate">
    <h3>Resources:</h3>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Flearn-adobe-photoshop-cc-for-visual-design-adobe-certified-9780134878256">Learn Adobe Photoshop CC for Visual Design: Adobe Certified Associate Exam Preparation, 2nd Edition</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Ffinal-cut-pro-x-10.4-apple-pro-training-series-professional-9780135171738">Final Cut Pro X 10.4 - Apple Pro Training Series: Professional Post-Production</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Flearn-adobe-premiere-pro-cc-for-video-communication-9780134878577">Learn Adobe Premiere Pro CC for Video Communication: Adobe Certified Associate Exam Preparation</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Flearn-adobe-dreamweaver-cc-for-web-authoring-adobe-9780134892658">Learn Adobe Dreamweaver CC for Web Authoring: Adobe Certified Associate Exam Preparation, 2nd Edition</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=24808&u1=sp&murl=http%3A%2F%2Fwww.informit.com%2Fstore%2Fdiscovering-autocad-2017-9780134506890">Discovering AutoCAD 2017</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.1&type=10">
    </li>

    <p>
        <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=145238.10000683&type=3&subid=0">InformIT eBook Store</a>
        <img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=145238.10000683&type=3&subid=0"> has a large number of ebooks on a wide range of topcis. I would definitely recommend them</p>
    <h3>Great courses:</h3>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fphotoshop-cs6-beginner.html">Photoshop CS6 Beginner</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fillustrator-cs6-advanced.html">Illustrator CS6 Advanced</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Findesign-cs6-advanced.html">InDesign CS6 Advanced</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <li>
        <a href="https://click.linksynergy.com/deeplink?id=gX56itLGvIE&mid=42440&u1=sp&murl=https%3A%2F%2Fwww.quickstart.com%2Fadobe-audition-cc-basics.html">Adobe Audition CC Basics</a>
        <img alt="icon" width="1" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.1&type=10">
    </li>

    <p>
        <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=579862.416&type=3&subid=0">Quickstart
        </a>
        <img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.416&type=3&subid=0"> offers a large amount of (online) courses on game development (
        <a href="https://click.linksynergy.com/fs-bin/click?id=gX56itLGvIE&offerid=579862.416&type=3&subid=0">Use Code LSOFF50</a>
        <img border="0" width="1" alt="" height="1" src="https://ad.linksynergy.com/fs-bin/show?id=gX56itLGvIE&bids=579862.416&type=3&subid=0"> to get 50% off ;p).
    </p>
</div>