---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: directory
  path: data
  label: Data
  create: none
  match: "**/*"
  new_doc_ext: yml
- type: jekyll-pages
  label: Pages
  create: all
- type: directory
  path: _articles
  label: Articles
  create: all
  match: "**/*"
- type: directory
  path: _categories
  label: Categories
  create: all
  match: "**/*"
- type: directory
  path: _shopcollections
  label: Shopcollections
  create: all
  match: "**/*"
- type: jekyll-posts
  label: Posts
  create: all
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
